.welcome-container {
    margin-top: 200px;
    padding: 50px;
    background: #343A40;
    border-radius: 20px;
    border: 4px solid #78573b;
}

.welcome-button {
    margin-top: 40px;
}

.welcome-logo {
    font-size: 10em;
    color: #78573b;
}